/*
font-family: 'Exo 2', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Galada', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Eagle Lake', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Yellowtail', cursive;
*/

body {
    background-image: url(../images/bg.jpg);
    background-position: top;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #202020;
    color: aliceblue;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    color: burlywood;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.header {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.main {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 20px;
    font-size: 24px;
    text-align: center;
    color: cornflowerblue;
    font-family: 'Segoe UI Light', cursive;
    font-size: 24px;
}

.leftsb {
    text-align: left;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 16px;
    grid-column: 1 / span 1;
    grid-row: 2 / span auto;
}

.rightsb {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.footer {
    grid-column: 3 / span 0;
    grid-row: 3 / span 0;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 20px;
    text-align: center;
}

#hr1 {
    border-style: dashed;
    border-width: 2px;
    border-color: cornflowerblue;
}

#title {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-style: italic;
    padding-bottom: 10px;
}

#lead {
    text-align: center;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 26px;
}

i {
    padding: 10px;
    color: white;
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;

}

.fa-twitter:hover {
    color: #55ACEE;
}

.fa-github:hover {
    color: dimgray;
}

.fa-envelope:hover {
    color: #c71610;
}

.fa-discord:hover {
    color: #7289da;
}

.fa-twitch:hover {
    color: #6441A4;
}
